body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    color: var(--Gray);
}
.topNav{
    background: var(--white);
}
.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    margin: auto;
}
ul.nav{
    list-style-type: none;
    padding: 0;
    display: flex;
}
.navItem{
    padding: 16px 20px;
    text-decoration: none;
    font-size: var(--font-size-navigation);
    color: var(--primary);
}
.navItem:hover{
    color: var(--primary-dark);
    background-color: var(--Secondary-light);
}
.navItem.selected{
    color: var(--secondary-dark);
}
.mobileMenu{
    display: none;
}
section.hero{
    background: var(--purple-gradient);
    padding: 80px;
}
.heroContainer{
    margin: auto;
    width: var(--container-width);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*outline: 1px solid red;*/
}
.heroImage{
    width: 300px;
    width: 33%;
    padding: 40px;
    /*outline: 1px solid red;*/
}
.heroContent{
    width: 647px;
    width: 66%;
    /*outline: 1px solid red;*/
}
.heroTitle{
    font-size: var(--font-size-h1);
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
    /*outline: 1px solid red;*/
}
.heroText{
    margin: 0;
    /*outline: 1px solid red;*/
}
.projects{
    width: var(--container-width);
    margin: auto;
    margin-top: 60px;
}
.sectionTitle{
    font-size: var(--font-size-h2);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}
.projects .sectionTitle{
    text-align: center;
}
.projectContainer{
    display: flex;
    gap: 24px;
    align-items: stretch;
}
.cardContent{
    padding: 16px;
}
.projectCard{
    width: 100%;
    border: 1px solid var(--gray-extra-light);
    background: var(--white);
}
.cardImage{
    width: 100%;
}
.heroContent{
    padding: 16px;
    /*outline: 1px solid red;*/
}
.cardTitle{
    font-size: var(--font-size-h3);
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0.75rem;
    margin-top: 0;
}
.cardText{
    margin-bottom: 0.75rem;
}
.btnPrimary{
    border-radius: 0.25rem;
    background: var(--primary);
    padding: 0.62rem;
    color: var(--white);
    font-size: var(--font-size-button);
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}
footer{
    background: var(--primary-gradient-rev);
    margin-top: 60px;
}
.footerContainer{
    width: var(--container-width);
    margin: auto;
    text-align: center;
}
.footerTitle{
    font-size: var(--font-size-h5);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.75rem;
    margin-top: 0;
}
.footerText{
    font-size: var(--font-size-body-small);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.75rem;
    margin-top: 0;
}
.footerCopy{
    font-size: var(--font-size-body-small);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.75rem;
    margin-top: 0;
}
.mNavItem {
    display: block;
}
.mobileMenu{
    position: relative;
}
.mobileNav{
    position: absolute;
    right: 0;
    top: 30px;
    background-color: white;
    width: 100vw;
    display: none;
}
.mNavItem{
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    border-bottom: 1px solid var(--primary-extra-light);
    color: var(--primary);
}
.mNavItem.selected{
    font-weight: bold;
    color: var(--Secondary-dar);
}

@media all and (max-width:1400px){
  .heroImage{
    width: 20%;
  } 
  .heroContent{
    width: 60%;
  }
}
@media all and (max-width:992px){
    .heroImage{
      width: 20%;
    } 
    .heroContent{
      width: 80%;
    }
    .projectContainer{
        flex-wrap: wrap;
    }
    .projectCard{
        width: 48%;
    }
  }
  @media all and (max-width:768px){
    .heroContainer{
      flex-direction: column;
    } 
    .heroTitle{
      text-align: center;
    }
    .heroImage{
        width: 40%;
  }
  .heroContent{
    width: 100%;
  }
  .ProjectCard{
    width: 100%;
  }
}
@media all and (max-width: 576px){
    .mobileMenu{
        display: block;
    }
    ul.nav{
        display: none;
    }
    .topNav{
        padding: 20px 0;
    }
}